:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font: inherit;
  line-height: inherit;
  appearance: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h4,
h3,
h2,
h1 {
  margin: 0;
}

input::-ms-clear {
  display: none;
}
